button,
.button,
button:focus-visible,
.button:focus-visible {
	border: none;
	border-radius: 8px;
	font-size: var(--button-font-size);
	font-family: var(--font-family--default);
	font-weight: 700;
	background-color: var(--color--gray--lighter);
	color: var(--color--gray--darkest);
	cursor: pointer;
}
button:active,
.button:active {
	opacity: 0.8;
}
button.disabled,
.button.disabled {
	background-color: var(--color--gray--medium) !important;
	color: var(--color--gray--light) !important;
	pointer-events: none;
}
