button {
	border: none;
	border-radius: 10%;
	background-color: var(--color--gray--lighter);
	color: var(--color--gray--darkest);
	font-size: var(--button-font-size);
	font-family: var(--font-family--default);
	font-weight: 700;
	cursor: pointer;
}
button.disabled {
	background-color: var(--color--gray--dark) !important;
	pointer-events: none;
}
button:hover {
	opacity: 0.8;
}
