:root {
	--color--orange: #970;
	--color--green: #783;
	--color--green--light: #bc3;
	--color--red: #f33;
	--color--red--light: #f66;
	--color--red--dark: #900;
	--color--cyan: #6ff;
	--color--gray--light: #ccc;
	--color--gray--medium: #aaa;
	--color--gray--dark: #222;
}
