:root {
	--color--gray--lightest: #eee;
	--color--gray--lighter: #ccc;
	--color--gray--light: #aaa;
	--color--gray--medium: #888;
	--color--gray--dark: #666;
	--color--gray--darker: #444;
	--color--gray--darkest: #222;

	--color--yellow: #a80;
	--color--green: #480;
	--color--red: #e44;
}
