:root {
	--footer-height: 5rem;
}
footer {
	--color--footer-background: #000;
	--color--footer-text: #ddd;
	height: var(--footer-height);
	background-color: var(--color--footer-background);
	color: var(--color--footer-text);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 1.2rem;
}
.footer-text {
	font-size: 2rem;
	text-shadow: 2px 2px #000;
	user-select: none;
}
@media (max-width: 900px) {
	:root {
		--footer-height: 0;
	}
	.footer-band,
	footer {
		display: none;
	}
}
