:root {
	--main-width: 100vw;
	--main-height: 100vh;
	--grid-header-height: calc(var(--main-height) / 9);
	--grid-cell-size: calc(var(--main-height) / 16);
	--keyboard-button-width: calc(var(--main-height) / 20);
	--keyboard-button-height: calc(var(--keyboard-button-width) * 1.5);
	--button-font-size: calc(var(--keyboard-button-width) / 2);
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: var(--color--gray--darkest);
	font-family: var(--font-family--default);
	font-size: 1.6rem;
	animation: fade-in-animation 1s;
}
.background {
	position: absolute;
	inset: 0;
	background-color: hsl(0, 100%, 80%);
	animation: hue-rotate-animation 60s infinite;
}
.wrapper {
	position: absolute;
	inset: 0;
	overflow: hidden;
	display: grid;
	place-items: center;
}
main {
	width: var(--main-width, 100vw);
	height: var(--main-height, 100vh);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto 1fr;
	user-select: none;
}
.header {
	display: flex;
	place-content: center;
	height: var(--grid-header-height);
}
.header-text {
	margin: calc(var(--grid-header-height) / 10) 0 calc(var(--grid-header-height) / 5) 0;
	font-family: var(--font-family--script);
	font-size: calc(var(--grid-cell-size) * 1.3);
}
.grid {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(6, auto);
	place-content: center;
}
.grid-item {
	width: var(--grid-cell-size);
	height: var(--grid-cell-size);
	display: grid;
	place-items: center;
	margin: calc(var(--grid-cell-size) / 20);
	border: 2px solid var(--color--gray--darkest);
	border-radius: 10%;
	font-size: calc(var(--grid-cell-size) / 1.5);
	font-weight: 700;
	color: var(--color--gray--darkest);
}
.answer {
	display: none;
	place-items: center;
	font-size: calc(var(--grid-cell-size) / 1.5);
	font-weight: 700;
	color: var(--color--gray--darkest);
	padding-top: calc(var(--grid-cell-size) / 2);
}
body[data-phase="failure"] .answer {
	display: grid;
}
.keyboard {
	margin-top: calc(var(--keyboard-button-height) / 4);
	display: grid;
	justify-items: center;
	align-content: start;
}
body[data-phase="success"] .keyboard,
body[data-phase="failure"] .keyboard {
	display: none;
}
.keyboard-row {
	display: flex;
	position: relative;
}
.keyboard-row:nth-child(3) {
	left: calc(var(--keyboard-button-width) / 2);
}
.keyboard-button {
	width: var(--keyboard-button-width);
	height: var(--keyboard-button-height);
	margin: calc(var(--keyboard-button-width) / 20);
	background-color: var(--color--gray--lightest);
}
.keyboard-button[data-action="<"] {
	width: calc(var(--keyboard-button-width) * 2);
}
body[data-phase="success"] .keyboard-button,
body[data-phase="failure"] .keyboard-button {
	background-color: var(--color--gray--medium);
	color: var(--color--gray--light);
	pointer-events: none;
}
.grid-item.gray,
.grid-item.yellow,
.grid-item.green,
.keyboard-button.gray,
.keyboard-button.yellow,
.keyboard-button.green {
	border: none;
	color: #fff;
}
.grid-item.gray,
.keyboard-button.gray {
	background-color: var(--color--gray--darker);
}
.grid-item.yellow,
.keyboard-button.yellow {
	background-color: var(--color--yellow);
}
.grid-item.green,
.keyboard-button.green {
	background-color: var(--color--green);
}
.controls {
	display: flex;
	justify-content: center;
	align-items: start;
}
.submit-button,
.reload-button {
	margin-top: calc(var(--keyboard-button-height) / 2);
	padding: 1rem 2rem;
}
.submit-button {
	background-color: var(--color--gray--medium);
	color: var(--color--gray--light);
	pointer-events: none;
}
body[data-phase="wait-submit"] .submit-button {
	background-color: var(--color--gray--lightest);
	color: var(--color--gray--darkest);
	pointer-events: auto;
}
body[data-phase="failure"] .submit-button,
body[data-phase="success"] .submit-button {
	display: none;
}
.reload-button {
	background-color: var(--color--gray--lightest);
	color: var(--color--gray--darkest);
	pointer-events: auto;
	display: none;
}
body[data-phase="failure"] .reload-button,
body[data-phase="success"] .reload-button {
	display: block;
}
