:root {
	--main-width: 100vw;
	--main-height: 100vh;
	--grid-header-height: calc(var(--main-height) / 12);
	--grid-cell-size: calc(var(--main-height) / 12);
	--keyboard-button-width: calc(var(--main-height) / 20);
	--keyboard-button-height: calc(var(--keyboard-button-width) * 1.4);
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: grid;
	place-items: center;
	position: relative;
	background-color: var(--color--gray--dark);
	color: var(--color--gray--light);
	font-family: var(--font-family--default);
	font-size: 1.6rem;
	animation: fade-in-animation 1s;
}
main {
	width: var(--main-width, 100vw);
	height: var(--main-height, 100vh);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto 1fr;
	user-select: none;
}
.header {
	display: flex;
	place-content: center;
	height: var(--grid-header-height);
}
.header-text {
	position: relative;
	font-family: var(--font-family--script);
	font-size: calc(var(--grid-header-height) / 1.5);
	top: calc(var(--grid-header-height) / 8);
}
.grid {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(6, auto);
	place-content: center;
}
.grid-item {
	width: var(--grid-cell-size);
	height: var(--grid-cell-size);
	display: grid;
	place-items: center;
	outline: 1px solid var(--color--gray--light);
	outline-offset: -4px;
	font-size: calc(var(--grid-cell-size) / 1.5);
	font-weight: 700;
	background-color: transparent;
	color: var(--color--gray--light);
}
.keyboard {
	margin-top: calc(var(--keyboard-button-height) / 2);
	display: grid;
	justify-items: center;
	align-content: start;
}
.keyboard-row {
	display: flex;
}
.keyboard-button {
	width: var(--keyboard-button-width);
	height: var(--keyboard-button-height);
	display: grid;
	place-items: center;
	background-color: var(--color--gray--light);
	color: var(--color--gray--dark);
	font-family: var(--font-family--default);
	font-size: calc(var(--keyboard-button-width) / 2);
	font-weight: 700;
	cursor: pointer;
}
.keyboard-button[id="key-<"] {
	background-color: var(--color--red--light);
}
.keyboard-button:hover,
.keyboard-button:focus-visible {
	opacity: 0.8;
}

