:root {
	--main-width: 100vw;
	--main-height: 100vh;
	--grid-header-height: calc(var(--main-height) / 9);
	--grid-cell-size: calc(var(--main-height) / 16);
	--keyboard-button-width: calc(var(--main-height) / 20);
	--keyboard-button-height: calc(var(--keyboard-button-width) * 1.5);
	--button-font-size: calc(var(--keyboard-button-width) / 2);
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: grid;
	place-items: center;
	position: relative;
	color: var(--color--gray--darkest);
	font-family: var(--font-family--default);
	font-size: 1.6rem;
	background-color: hsl(360, 100%, 80%);
	animation: hue-rotate-animation 180s infinite;
}
main {
	width: var(--main-width, 100vw);
	height: var(--main-height, 100vh);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto 1fr;
	user-select: none;
}
.header {
	display: flex;
	place-content: center;
	height: var(--grid-header-height);
}
.header-text {
	margin: calc(var(--grid-header-height) / 10) 0 calc(var(--grid-header-height) / 5) 0;
	font-family: var(--font-family--script);
	font-size: calc(var(--grid-cell-size) * 1.3);
}
.grid {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(6, auto);
	place-content: center;
}
.grid-item {
	width: var(--grid-cell-size);
	height: var(--grid-cell-size);
	display: grid;
	place-items: center;
	margin: calc(var(--grid-cell-size) / 20);
	border: 2px solid var(--color--gray--darkest);
	border-radius: 10%;
	font-size: calc(var(--grid-cell-size) / 1.5);
	font-weight: 700;
	color: var(--color--gray--lightest);
}
.keyboard {
	margin-top: calc(var(--keyboard-button-height) / 4);
	display: grid;
	justify-items: center;
	align-content: start;
}
.keyboard-row {
	display: flex;
}
.keyboard-button {
	width: var(--keyboard-button-width);
	height: var(--keyboard-button-height);
	margin: calc(var(--keyboard-button-width) / 20);
	background-color: var(--color--gray--lightest);
}
.controls {
	display: flex;
	justify-content: center;
	align-items: start;
}
.submit-button {
	margin-top: calc(var(--keyboard-button-height) / 2);
	padding: 1rem 2rem;
}
